<div class="label label-info" style="font-size: 100%">
    You have: {{coinBalanceQNT | formatQNT:coin.decimals}} {{coin.name}}
    and {{selectedAccountData.unconfirmedBalanceNQT | formatQNT:8 | number}} NXT
</div>
&nbsp;
<span style="cursor: pointer;" ng-click="refresh()" class="glyphicon glyphicon-repeat"></span>