<div class="btn-group pull-right" dropdown>
    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
        {{selectedAccount.tx_account_id | toRS}}
        <strong ng-if="selectedAccount.tx_label">&lt;{{selectedAccount.tx_label}}&gt;</strong>
        <strong ng-if="!selectedAccount.tx_label">&lt;- No label -&gt;</strong>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-left" role="menu">
        <li ng-repeat="account in accounts">
            <a ng-click="changeSelectedAccount(account)" class="disabled">
                {{account.tx_account_id | toRS}} <strong ng-if="account.tx_label">
                &lt;{{account.tx_label}}&gt;</strong><strong ng-if="!account.tx_label">&lt;- No label -&gt;</strong>
            </a>
        </li>
    </ul>
</div>