<div class="col-sm-6 mt-10">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{title}} {{coin.name}}
                <span class="glyphicon glyphicon-question-sign pull-right" ng-if="orderType == 'buy'"
                      tooltip-placement="top"
                      tooltip-append-to-body="true"
                      tooltip="{{coin.name}} is the underlying NXT asset that represents actual {{coin.coin}}"></span>

            </h3>
        </div>
        <div class="panel-body">
            <form ng-submit="submitForm()" name="controller.form" class="col-sm-12 mt-20 form-horizontal">
                <div class="form-group">
                    <label for="form.quantity" class="col-sm-3 control-label">Quantity</label>

                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="number" ng-model="form.quantity" id="form.quantity" class="form-control"
                                   ng-change="onAmountChange()"
                                   min="{{coin.step * 100}}" step="{{coin.step}}" required/>
                            <span class="input-group-addon">{{coin.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="form.price" class="col-sm-3 control-label">Price</label>

                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="number" ng-model="form.price" id="form.price" class="form-control"
                                   ng-change="onAmountChange()" required/>
                            <span class="input-group-addon">NXT / {{coin.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="form.total" class="col-sm-3 control-label">Total</label>

                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="number" ng-model="form.total" id="form.total" class="form-control disabled"
                                   disabled/>
                            <span class="input-group-addon">NXT</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-3">
                        <button type="submit" class="btn btn-block ladda-button {{buttonClass}}" ladda="form.loading">
                            {{title}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-12">
        <h4>
            Orders:
        </h4>
        <table class="table table-striped" ng-show="orders.length">
            <thead>
            <tr>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="order in orders" ng-click="fillOrder(order)" style="cursor: pointer;">
                <td>{{order.priceNQT | formatPriceNQT:8 | number}} NXT</td>
                <td>{{order.quantityQNT | formatQNT:coin.decimals }} {{coin.name}}</td>
                <td>{{order.priceNQT * order.quantityQNT | formatPriceNQT:8 | formatQNT:coin.decimals | number}} NXT
                </td>
            </tr>
            </tbody>
        </table>
        <p ng-show="!orders.length">
            No orders.
        </p>
    </div>
</div>