<div class="col-sm-6">
    <h4>Open buy orders</h4>
    <table ng-if="bidOrders.length" class="table table-striped table-green">
        <thead>
        <tr>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="order in bidOrders">
            <td>
                {{order.quantityQNT | formatQNT:coin.decimals | number}} {{coin.coin}}
            </td>
            <td>
                {{order.priceNQT | formatPriceNQT:coin.decimals | number}} NXT
            </td>
            <td>
                <button class="btn btn-default pull-right" ladda="order.loading" ng-click="cancelOrder(order, 'bid')">
                    Cancel
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div ng-if="!bidOrders.length" class="mb-20">
        <em>No buy orders</em>
    </div>
</div>
<div class="col-sm-6">
    <h4>Open sell orders</h4>
    <table ng-if="askOrders.length" class="table table-striped table-red">
        <thead>
        <tr>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="order in askOrders">
            <td>
                {{order.quantityQNT | formatQNT:coin.decimals | number}} {{coin.coin}}
            </td>
            <td>
                {{order.priceNQT | formatPriceNQT:coin.decimals | number}} NXT
            </td>
            <td>
                <button class="btn btn-default pull-right" ladda="order.loading" ng-click="cancelOrder(order, 'ask')">
                    Cancel
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div ng-if="!askOrders.length" class="mb-20">
        <em>No sell orders</em>
    </div>
</div>