<div class="col-md-12">
    <div class="row">
        <form ng-submit="submitForm()" name="controller.sendForm" class="col-sm-8">
            <div class="form-group">
                <label for="sendForm.recipient">Recipient {{coin.coin}} Address</label>
                <input type="text" ng-model="sendForm.recipient" id="sendForm.recipient" class="form-control"
                       placeholder="Example: 1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa" required/>
            </div>
            <div class="form-group">
                <label for="sendForm.amount">Amount of {{coin.coin}} to send</label>

                <div class="input-group col-sm-6">
                    <input type="number" ng-model="sendForm.amount" id="sendForm.amount" class="form-control"
                           max="100" min="{{coin.min}}" step="{{coin.step}}"
                           ng-change="sendAmountChanged(sendForm.amount)" required/>
                    <span class="input-group-addon">{{coin.coin}}</span>
                </div>
                <p class="help-block">The minimum amount is {{coin.min}} {{coin.coin}}. This is the exact amount the
                    recipient will receive.</p>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a ng-click="collapseDetails = !collapseDetails">Cost
                            <small>Click to expand</small>
                        </a>
                    </h4>
                </div>
                <div class="panel-body row">
                    <div class="col-sm-6">
                        <div collapse="collapseDetails">
                            <div>
                                <strong>Current {{coin.coin}} Price in MGW:</strong>
                            </div>
                            <div>
                                <strong>{{coin.coin}} to send:</strong>
                            </div>
                            <br/>

                            <div>
                                <strong>MGW Fees:</strong>
                            </div>
                            <div>
                                <strong>{{coin.coin}} you already own:</strong>
                            </div>
                            <div>
                                <strong>Amount of {{coin.coin}} to buy:</strong>
                            </div>
                            <hr/>
                        </div>
                        <div>
                            <strong>Total expected cost (including fees):</strong>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div collapse="collapseDetails">
                            <div>
                                {{sendForm.coinPrice | number}} NXT
                            <span class="glyphicon glyphicon-question-sign"
                                  tooltip-placement="top"
                                  tooltip="This is the current price to buy 1 {{coin.coin}} on the MGW exchange"></span>
                            </div>
                            <div>
                                {{sendForm.amount - coin.fees}} {{coin.coin}}
                            <span class="glyphicon glyphicon-question-sign"
                                  tooltip-placement="top"
                                  tooltip="This is the amount the recipient will receive."></span>
                            </div>
                            <br/>

                            <div>
                                {{coin.fee}} {{coin.coin}}
                            <span class="glyphicon glyphicon-question-sign"
                                  tooltip-placement="top"
                                  tooltip="This is the MGW and miner fees."></span>
                            </div>
                            <div>
                                {{coinBalanceQNT | formatQNT:coin.decimals}} {{coin.coin}}
                            <span class="glyphicon glyphicon-question-sign"
                                  tooltip-placement="top"
                                  tooltip="This is the mgwBTC you already own. We will use this for sending before buying new."></span>
                            </div>
                            <div>
                                {{sendForm.amountToBuy | formatQNT:coin.decimals}} {{coin.coin}}
                            <span class="glyphicon glyphicon-question-sign"
                                  tooltip-placement="top"
                                  tooltip="This is the amount we will buy for you. If you already have {{coin.name}} this will be lower than the amount you entered above."></span>
                            </div>
                            <hr/>
                        </div>
                        <div>
                            <strong>{{sendForm.totalCost | number}} NXT</strong>
                            <span class="glyphicon glyphicon-question-sign"
                                  tooltip-placement="top"
                                  tooltip="This is the total amount of NXT that we estimate will be deducted from your account for this transaction."></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div ng-if="!hasEnoughBalance() && controller.sendForm.$dirty" class="help-block small">
                    You don't have enough funds
                </div>
                <div ng-if="mgwStatus == 'offline'" class="help-block small">
                    We don't allow sending when the MGW is offline
                </div>
                <button type="submit" class="btn btn-lg btn-success" ladda="sendForm.loading"
                        ng-disabled="!hasEnoughBalance() || !controller.sendForm.$dirty || !controller.sendForm.$valid || mgwStatus == 'offline'">
                    Buy & Send
                </button>
            </div>
        </form>
    </div>
</div>