.nav, .pagination, .carousel, .panel-title a, li a {
    cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.table-blue thead > tr > th {
    border-bottom: 2px solid #3c8dbc !important;
}

.table-green thead > tr > th {
    border-bottom: 2px solid #00a65a !important;
}

.table-yellow thead > tr > th {
    border-bottom: 2px solid #f39c12 !important;
}

.table-orange thead > tr > th {
    border-bottom: 2px solid #dd601e !important;
}

.table-purple thead > tr > th {
    border-bottom: 2px solid #3c2da6 !important;
}

.table-red thead > tr > th {
    border-bottom: 2px solid #f32222 !important;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}