<!DOCTYPE html>
<html>
<head>
    <title>MyNXT MGW Exchange</title>
    <link rel="stylesheet" href="dist/css/mynxt-mgw.css"/>
</head>
<body ng-app="mynxt-mgw-exchange" ng-controller="MainController">

<div class="container-fluid" ng-cloak>
    <div class="row mt-10">
        <div class="col-md-12">
            <tabset>
                <div ng-include="'components/templates/accountsList.html'" class="pull-right"></div>
                <tab heading="Send">
                    <div class="row">
                        <div class="col-md-12 mt-20">
                            <div class="pull-left label label-{{mgwStatusClass}}" style="font-size: 100%">MGW Status:
                                <span tooltip-append-to-body="true"
                                      tooltip-placement="right"
                                      tooltip="Sometimes MGW goes offline and to save our users from the hassle of having an withdraw stuck for hours, we don't allow withdrawals when MGW is offline">
                                   {{mgwStatus}}
                                </span>
                            </div>
                            <div ng-include="'components/templates/accountBalance.html'" class="pull-right"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="alert">
                            You can send Bitcoin (BTC) to any valid Bitcoin address, each mgwBTC is worth 1 BTC. Just
                            inform the total
                            amount of bitcoin you want the recipient to receive.<br/><strong>Note:</strong> The Bitcoin
                            will arrive in
                            the destination typically between 30 mins and 2 hours, the fee is 0.1%.
                        </div>
                    </div>
                    <div class="row">
                        <div ng-include="'components/templates/sendForm.html'"
                             ng-controller="SendController as controller"></div>
                    </div>
                </tab>
                <tab heading="Buy & Sell">
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-include="'components/templates/accountBalance.html'" class="pull-right mt-20"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="alert">
                            If you want to buy and sell {{coin.name}} manually, you can use the tools in this tab to
                            do
                            so.
                            Please note that if you just want to send BTC from your NXT account you don't need to
                            buy
                            {{coin.name}} manually first, you can simply use the SEND tab as all the necessary steps
                            are
                            automated.
                        </div>
                    </div>
                    <div class="row">
                        <div ng-include="'components/templates/ordersList.html'"
                             ng-controller="AccountOrdersController as controller"></div>
                    </div>
                    <div class="row">
                        <div ng-include="'components/templates/orderForm.html'"
                             ng-controller="OrderController as controller" ng-init="initForm('buy')"></div>

                        <div ng-include="'components/templates/orderForm.html'"
                             ng-controller="OrderController as controller" ng-init="initForm('sell')"></div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>

<script src="dist/js/mynxt-mgw.js"></script>
</body>
</html>